.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  color: white;
  max-width: 100%; 
  overflow: hidden; 
}

@media (max-width: 480px) {
  .clock-container {
    padding: 20px 0;
  }
}


.digit-container {
  position: relative;
  width: 80px;  
  height: 140px; 
  margin: 0 12px;
  max-width: 100%; 
  flex-shrink: 1;  
}


@media (max-width: 768px) {
  .digit-container {
    width: 60px;
    height: 100px;
    margin: 0 6px;
  }

  .colon-container {
    height: 100px;
  }

  .colon-dot {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 480px) {
  .digit-container {
    width: 40px;
    height: 70px;
    margin: 0 4px;
  }

  .colon-container {
    height: 70px;
  }

  .colon-dot {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 340px) {
  .digit-container {
    width: 35px;
    height: 64px;
    margin: 0 4px;
  }

  .colon-container {
    height: 64px;
  }

  .colon-dot {
    width: 6px;
    height: 6px;
  }
}


.segment {
  position: absolute;
  background-color: #414141; 
  transition: background-color 0.3s ease-in-out;
  opacity: .3;
}

.segment.active {
  opacity: 1;
  background-color: #ff3b3b; 
}

.segment-a, .segment-d, .segment-g {
  height: 10px;
  width: calc(100% - 16px);
  left: 8px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.segment-a { top: 0; }
.segment-d { bottom: -8px; }
.segment-g { top: calc(50%); }

.segment-b, .segment-c, .segment-e, .segment-f {
  width: 10px;
  height: calc(50% - 8px);
}

.segment-b, .segment-c {
  right: 0;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
}

.segment-e, .segment-f {
  left: 0;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
}

.segment-b, .segment-f { top: 8px; }
.segment-c, .segment-e { bottom: 0px; }



.colon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px; 
  margin: 0 10px; 
  justify-content: center;
  gap: 10%;
}

@media (max-width: 480px) {
  .colon-container {
    height: 80px;

  }
}

.colon-dot {
  width: 6px;
  height: 6px;
  background-color: #ff3b3b; 
  box-shadow: 0 0 10px #ff3b3b;
  border-radius: 50%;
}
